 <%= render 'layouts/navigation' %>
 
<div class="container mx-auto text-center mt-3">
  <h1 class="subpixel-antialiased font-bold text-simanejo text-2xl">Listado de Estudiantes</h1>

    <div class="w-1/2 mx-auto my-5">
      <%= form_tag(students_path, method: :get, class: "flex w-full") do %>
        <%= text_field_tag(:search, params[:search], 
          class: "w-3/4 border border-gray-500 rounded-l-lg text-base outline-none text-gray-600 py-0 px-3 leading-8 focus:border-gray-600") %>
        <%= submit_tag ("Buscar"), 
          class: "w-1/4 text-white bg-gray-500 cursor-pointer border-0 py-1 px-4 focus:outline-none hover:bg-gray-600 rounded-r-lg text-lg" %>
      <% end %>
      <div class="text-sm text-right pr-2 text-red-600">
        Busca por nombre o apellido pero no mezcles ambos
      </div>
    </div>

  <%
=begin%>
 <div class="flex w-full max-w-xl mx-auto border border-gray-200 overflow-hidden bg-white rounded-lg shadow-md my-10 dark:bg-gray-800 text-left">
    <div class="flex items-center justify-center w-32 bg-yellow-400">
      <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
        <path d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM21.6667 28.3333H18.3334V25H21.6667V28.3333ZM21.6667 21.6666H18.3334V11.6666H21.6667V21.6666Z" />
      </svg>
    </div>

    <div class="px-4 py-2 -mx-3">
      <div class="mx-3">
        <span class="font-semibold text-yellow-400 dark:text-yellow-300">ADVERTENCIA</span>
        <p class="text-sm text-gray-600 dark:text-gray-200">Los datos mostrados a continuación son estrictamente para consulta, no deben ser distribuidos y/o copiados a otra entidad.</p>
      </div>
    </div>
  </div> 
<%
=end%>
  <%= will_paginate @students, :container => false %>
  <div class="w-full lg:w-5/6 mx-auto">
    <div class="bg-white shadow-md rounded my-6">
      <table class="min-w-max w-full table-auto">
      <thead>
        <tr class="bg-simanejo text-white uppercase text-sm leading-normal">
          <th class="py-3 px-6 text-left">Nombre</th>
          <th class="py-3 px-6 text-left">Email</th>
          <th class="py-3 px-6 text-center">Teléfono</th>
          <th class="py-3 px-6 text-center">Creado</th>
          <th class="py-3 px-6 text-center">Acciones</th>
        </tr>
      </thead>
      <tbody class="text-gray-600 text-sm font-light">
      <% @students.order(:last_name).each do |student| %>
        <tr class="border-b border-gray-200 hover:bg-gray-100">
          <td class="py-3 px-6 text-left whitespace-nowrap">
            <div class="flex items-center">
              <span class="font-medium">
              <%= link_to(student_path(student), class: "flex") do %>
                <%= student.full_name %>
                <%= student_course_count(student.id) %>
              <% end %>
              </span>
            </div>
          </td>
          <td class="py-3 px-6 text-left">
            <div class="flex items-center">
              <span>
                <%= student.email %>
              </span>
            </div>
          </td>
          <td class="py-3 px-6 text-center">
            <div class="flex items-center justify-center">
              <%= number_to_phone(student.phone_number, delimiter: " ") %>
            </div>
          </td>
          <td class="py-3 px-6 text-center">
            <%= time_ago_in_words(student.created_at) %>
          </td>
          <td class="py-3 px-2 text-center">
            <div class="flex item-center justify-center cursor-pointer"> 
              <%= link_to(new_appointment_path(student_id: student), class: "w-4 mr-2 transform hover:text-purple-500 hover:scale-110") do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="text-green-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                </svg>
              <% end %>
              <%= link_to(edit_student_path(student), class: "w-4 mr-2 transform hover:text-purple-500 hover:scale-110 cursor-pointer") do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                </svg>
              <% end %>
              <%= link_to(student_path(student), method: :delete, class: "w-4 mr-2 transform cursor-pointer") do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="text-red-600 hover:text-gray-400 hover:scale-110" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                </svg>
              <% end %>
              <div class="w-4 mr-2 transform hover:text-purple-500 table-dropdown hover:scale-110 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="btn-List" id="<%= student.student_name %><%= student.last_name %>"  viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                </svg>
              </div>
            </div>
          </td>
        </tr>
        <tr class="border-b border-gray-200 hover:bg-gray-100 hidden <%= student.student_name %><%= student.last_name %>">
          <td colspan="3" class="py-3 px-6 text-gray-900 italic text-left">
            <%= student.street %>, <%= student.address %> <span class="not-italic">&nbsp;<%= student.city %></span>
          </td>
          <td colspan="2" class="py-3 px-6 text-blue-900 italic text-right">
            &nbsp;
          </td>
        </tr>
      <% end %>
      </tbody>
      </thead>
    </table>
    </div>
  </div>
  <%= link_to 'Agregar Estudiante', new_student_path(), class: "block rounded bg-simanejo text-lg mx-auto w-1/4 text-center border-0 pb-3 pt-2 px-10 my-8 hover:bg-red-800", style: "color: #fff" %>
</div>

<%= javascript_pack_tag 'student_table' %>