<%= form_with(model: @user, local: true) do |f| %>
  
  <div class="rounded-md shadow-sm -space-y-px">
    <div>
      <%= f.text_field :username, 
          class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm",
          placeholder: "Usuario" %>
    </div>
    <div>
      <%= f.text_field :username_email, 
          class: "appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm",
          placeholder: "Email" %>
    </div>
    <div>
      <%= f.password_field :password, 
          class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm",
          placeholder: "Password" %>
    </div>
  </div>
  <div>
    <%= f.submit class: "w-full text-white bg-simanejo border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg my-5" %>
  </div>
<%end%>
