<%= render 'layouts/navigation' %>
<section class="body-font mt-14">
  <div class="md:w-3/4 xl:w-1/2 w-full mx-auto my-7 text-right">
    <%
=begin%>
 <%= link_to "Registrar nuevo estudiante", appointments_new_path, class: "ml-5 bg-gray-300 pt-2 pb-3 px-3 border border-gray-400 rounded-md shadow-sm text-base leading-4 font-semibold hover:bg-blue-900 hover:text-white focus:outline-none" %> 
<%
=end%>
  </div>
  <div class="shadow sm:rounded-md sm:overflow-hidden md:w-3/4 xl:w-1/2 w-full mx-auto bg-white pt-10">
    <h1 class="subpixel-antialiased font-semibold text-simanejo text-2xl mb-10 px-14">
      Editar horario de 
      <span class="text-white bg-simanejo px-3">
        <%= @appointment.student.student_name %> <%= @appointment.student.last_name %>
      </span>
    </h1>
    
    <%= render 'form' %>
  </div>
  <div class="md:w-3/4 xl:w-1/2 w-full mx-auto my-7 text-left">
    <%= link_to(appointments_path, class: "text-indigo-600 font-semibold text-lg hover:text-blue-900 inline") do %>
    <span aria-hidden="true">&larr; </span>
    Regresar a <span class="font-bold">horarios</span>
    <% end %>
  </div>
</section>